#greeting{
    color: #125557;
}

h1 {
    font-size: 450%;
    margin-top: 50px;
    margin-left: 140px;
}

body {
    font-family: "Courier New", Courier, monospace;
    background: #FFFFFF;
}

/*.bio{

 }*/
p {
    font-family: "Courier New", Courier, monospace;

}

.picture{
    height: auto;
    width:auto;
    align: center;
    border-collapse: collapse;
}



table{
    padding-top: 10px;
    margin-left: 140px;
    width: 70%;
}


td {
    text-align: left;
    vertical-align: top;
    border: 1px solid black;
    font-size: 120%;
    line-height: 35px;
    border-collapse:collapse;
}

#icon{
    position:fixed;
    height: 55px;
    display:block;
    bottom:12px;
    right:12px;
}

#iconAlert{
    visibility:hidden;
    height: 23px;
    bottom: 16px;
    right: 17px;
}

#map{
    align: center;
    width: 25%;
    height: 400px;
    background-color:grey;
}

#contact-icons{
    align: center;
    padding: 5px;
    
}

#contact-icons:hover{
    background: 0000ff;
    
}

.page-other{
    color: #125557;
    text-decoration: none;

   
}

.page-other:hover, .page-other:link, .page-other:visited{
    color: #125557;
}



.myName{
    color: #571412; 
    font-size: 50px;
    font-weight: bold;
    text-decoration: none;
}

.myName:link, .myName:visited{
    color: #571412; 
    text-decoration: none;
}



.about{
    margin-left: 30%;
    margin-right: 30%;
    text-align: left;
    line-height: 33px;
    
    
}

