#greeting{
    color: #125557;
}

h1 {
    font-size: 470%;
    margin-top: 45px;
    margin-left: 140px;
}

body {
    font-family: "Courier New", Courier, monospace;
    background: #FFFFFF;
}

/*.bio{

 }*/
p {
    font-family: "Courier New", Courier, monospace;
}


.picture{
    height: auto;
    width:auto;
    align: center;
    border-collapse: collapse;
}


p.mainstage{
    font-size: 110%;
    line-height: 130%;
}

#orchestra{
    font-size: 100%;
    line-height: 35px;
}

table{
    margin-left: 140px;
    width: 75%;
}


td {
    text-align: left;
    vertical-align: top;
    border: 1px solid black;
    border-collapse:collapse;
}
